<main id="add-country">

    <form action="/add-country" method="post">
        <label for="label">Country name :</label>
        <input type="text" name="label" id="label">

        <label for="label">Country picture :</label>
        <input type="text" name="label" id="label">

        <label for="recipe">Country Speciality recipe :</label>
        <input type="text" name="recipe" id="recipe">

        <button type="submit">
            Add country
        </button>

    </form>

</main>