<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/index.css" />
		<title><%= template %> - Countries</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">home</a>
				<a href="/admin">admin</a>
			</nav>
		</header>

        <%- include(template) %>
		
		<footer>
			<a
				href="https://www.flaticon.com/free-icons/france"
				title="france icons"
				>France icons created by Freepik - Flaticon</a
			>
		</footer>
	</body>
</html>
